.Mission-table {
  border: 1px solid #a9a9a9;
  width: 95%;
  margin-left: 2.5%;
}

.Active-member {
  background-color: aqua;
  border-radius: 3px;
  border: none;
}

.Not-member {
  background-color: #a9a9a9;
  border-radius: 3px;
  border: none;
}

.Leave-mission {
  border: 1px solid red;
  border-radius: 3px;
  background: inherit;
}

.Join-mission {
  border-radius: 3px;
  background: inherit;
  border: 1px solid #a9a9a9;
}

.Description {
  width: 60%;
  border-right: 1px solid #a9a9a9;
  padding: 10px;
  border-bottom: 1px solid #a9a9a9;
}

.Mission-name {
  border-right: 1px solid #a9a9a9;
  width: 15%;
  padding: 10px;
  border-bottom: 1px solid #a9a9a9;
}

.Status {
  border-right: 1px solid #a9a9a9;
  padding: 10px;
  border-bottom: 1px solid #a9a9a9;
}

.Status-2 {
  padding: 10px;
  border-bottom: 1px solid #a9a9a9;
}

.Table-head {
  border-bottom: 1px solid #a9a9a9;
}

.Mission-title {
  border-right: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.Desc-title {
  border-right: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
}

.Desc-title-2 {
  border-bottom: 1px solid #a9a9a9;
}

.Profile-missions {
  border: 1px solid #a9a9a9;
  width: 20%;
  margin-left: 3%;
  height: 50px;
  border-radius: 2px;
}

.Missions-label {
  margin-left: 3%;
}

.Even-row {
  background-color: #f0f0f0;
}
